/* style.css */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Yanone+Kaffeesatz');
*{ 
    margin: 0; padding: 0;
    box-sizing: border-box;
}
a{ 
    text-decoration: none;
    color: #ccc;
}
li{ list-style-type: none;}
.clear{ clear: both; }
body{
    font-family: 'Raleway','맑은 고딕',sans-serif;
    text-align: center;
    font-size: 100%;
    min-width: 1024px;
	min-height: 768px;
}
.section{
    width: 100%;
    height: 100%;
    background: #ffede9;
}


.clearfix:after,
section:after,
footer:after{
    content:'';
    display:block;
    clear: both;
}
#main_header{
    background: url("../images/bg-i-main_w30.gif")no-repeat;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-size: cover;
}

/* h1, main_gnb */


.container > a h1{
    color: #ef6c6c;
    text-align: left;
    position: relative;
    top: 0px;
    width: 1200px; height: 20px;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
} 
.container #main_gnb ul{
    float: right;
    width: 500px;
}
.container #main_gnb ul li{
    display: inline-block;
    text-align: right;
/*    float: right;*/
    padding-right: 20px;
    
}
.container #main_gnb li a{
    color: #ef6c6c;
    outline: 0;
    text-align: center;
    font-weight: bold;
}

/* main contents*/

.container > .row ul{
    float: left;
    color: #333;
    margin: 0 auto;
    width: 100%;
    margin-top: 60px;
}
.container > .row ul li{
    display: inline-block;
    margin: 0 auto;
}

/* 메인 페이지 얼굴*/

.row ul li > .main_p{
    margin-top: 60px;
    width: 570px;
    display: table;
}
.row ul li > .main_p img{
    width: 280px;
    height: 316px;
    margin-top: 27px;
    margin-bottom: 20px;
/*    border-radius: 60%;*/
}

/* 메인 welcome */

.row ul li > .main_h{
    width: 570px;
    display: table;
}
.row ul li > .main_h h1{
    font-size: 60px;
    color: #4f5f37;
    text-align: center;
    font-family: 'Raleway', Arial, sans-serif;
    letter-spacing: -3px;
}
.row ul li > .main_h a{
    background: rgba(239, 108, 108, 0.75);
    color: #fff;
    padding: 10px;
    text-align: center;
}





.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}


/* 텍스트 박스 키프레임*/
@keyframes visual_txt{
    from{
        left: -100%;
        transform: rotate(-180deg);
    }
    to{
        left: 50%;
        transform: rotate(0deg) translate(-50%, -50%);
    }
}


/* about */

#se_page{
    width: 100%;
    height: 100%;
    background: #ffede9;
}

#about{
    margin-top: 12%;
    background: rgb(195, 96, 96);
}
#about h1{
    color: #fff;
    background: rgba(255, 155, 155, 0.97);
    padding: 40px;
}
#about .col-3 > p{
    margin-top: 40px;
    color: #fff;
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


#about > .container{
    width: 100%;
    height: 430px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

/*  about me 이미지 효과 */

figure.snip1200 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: none;
    overflow: hidden;
    margin: 0 auto;
    width: 300px;
    height: 380px;
    background: rgba(195, 96, 96, 0.67); /* #about과 색 동일해야 함*/
    color: #fff;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 20px;
}
figure.snip1200  p > span{
    font-size: 30px;
    font-weight: 800;
}
figure.snip1200 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
figure.snip1200 img {
    width: 100%;
    max-height: 100%;
    position: relative;
    opacity: 1;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
figure.snip1200 figcaption {
    position: absolute;
    top: 50%;
    left: 7%;
    right: 7%;
    bottom: 50%;
    border: 1px solid white;
    border-width: 0 1px 1px;
    border-radius: 60%;
}
figure.snip1200 .heading {
    overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    top: 0;
    width: 100%;
}
figure.snip1200 h2 {
    /*  display: table;*/
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: auto;
    text-transform: uppercase;
    font-weight: 400;
    z-index: 9;
}
figure.snip1200 h2 span {
    font-weight: 800;
}
figure.snip1200 h2:before,
figure.snip1200 h2:after {
    position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    background: white;
    top: 10%;
}
figure.snip1200 h2:before {
    left: -1000%;
}
figure.snip1200 h2:after {
    right: -1000%;
}
figure.snip1200 p {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    padding: 0 10px;
    margin: 0;
    opacity: 0;
    line-height: 1.6em;
    font-size: 0.9em;
}
figure.snip1200 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
figure.snip1200:hover img,
figure.snip1200.hover img {
    opacity: 0.25;
/*
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
*/
}
figure.snip1200:hover figcaption,
figure.snip1200.hover figcaption {
    top: 7%;
    bottom: 7%;
}
figure.snip1200:hover p,
figure.snip1200.hover p {
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

/*  skill */

#th_page{
    width: 100%;
    height: 100%;
}

#skill{
    background-color: #fff;
    background-image: url(../images/skill_bg.png);
    background-position: center bottom;
    background-size:cover;
    background-repeat: no-repeat;
    color: #fff;
    
}

#skill .h1{
    padding: 40px;
    margin-top: 10%;
/*    border: 1px solid red;*/
    color: #fff;
    background: rgb(195, 96, 96);
}
#skill_box{
    width: 50%; height: 30%;
    position: relative;
    left: 20%; top: 13%;
    
}
.skill_no_hover, .skill_hover{
    width: 680px; height: 410px;
    position: absolute;
    left: 75%; top: 55%;
    transform: translate(-25%, -45%);
}
#skill .skill_right{
    width: 330px;height: 372px;
    position: relative;
    left: -250px; top: -5%;
    background: rgba(255, 238, 238, 0.87);
    border: 25px solid #fff;
}
#skill_box .skill_hover{
    display: none;
}
#skill_box:hover .skill_hover{
    display: block;
    transition: all 4s ease-in;
}



/* works */

#fo_page{
    background: #ffede9;
    width: 100%;
    height: 100%;
}
#works h1{
    background: rgb(195, 96, 96);
    margin-top: 10%;
    color: #fff;
    padding: 40px;
}
#works .work_list{
    width: 100%;
    margin: 0 auto;
}
#works .work_list > li{
    margin-bottom: 3%;
    box-shadow: 2px 4px 6px rgba(100, 100, 100, 0.38);
    
    background: #fff;
}

#works .textbox{
    background: rgba(195, 96, 96, 1);
    position: relative;
    left: 0; top: 0px;
    width: 100%;
    color: white;
    padding: 13px;
    box-shadow: 2px 4px 6px rgba(100, 100, 100, 0.38);
}

/* contact */

#fi_page{
    width: 100%;
    height: 100%;
    background: #ffede9;
}

#contact{
    margin-top: 28%;
    background: #fd8f8f; /* .snip1273 색과 동일해야 함 */
    perspective: 4000px;
    text-align: center;
    vertical-align: middle;
}

.contact_h1{
    position: relative;
    left: 0; top: 0;
    width:100%; height: 300px;
    line-height: 300px;
    margin: 0 auto;
    opacity: 1;
    z-index: 10;
    transition: 1s;
    
    background-image: url(../images/bg_main_pink.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ef6c6c;
}
#contact .page1{
    position: absolute;
    left: 51%; top: 50%;
    transform: translate(-49%, -50%);
    z-index: -99;
    width: 100%;
}
#contact:hover > .contact_h1{

    /* 뒷면 숨기기 */
    transform: rotateY(-100deg);
    backface-visibility: hidden;
}

#contact .fa-phone, .fa-envelope, .fa-globe-americas{
    font-size: 80px;
    color: #fff;
    margin: 40px;
    text-align: center;
    vertical-align: middle;
}



/* contact hover */

.snip1273 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  margin: 10px 1%;
  min-width: 310px -60px;
  max-width: 310px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  background: rgb(253, 143, 143); /* #contact 색과 동일해야 함 */
  font-size: 16px;
}
.snip1273 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.snip1273 > i {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.snip1273 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 30px 30px;
}
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  width: 3px;
  height: 5px;
    opacity: 1;
}
.snip1273 figcaption:before {
  right: 0;
  top: 0;
}
.snip1273 figcaption:after {
  left: 0;
  bottom: 0;
}

.snip1273 h3 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
    
}
.snip1273 p {
  font-size: 1.8em;
  margin: 0 0 15px;
    font-family: 'Lobster', cursive;
    
}
.snip1273 a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.snip1273:before,
.snip1273:after {
  height: 1px;
  width: 0%;
}
.snip1273:before {
  top: 0;
  left: 0;
}
.snip1273:after {
  bottom: 0;
  right: 0;
}
.snip1273:hover i,
.snip1273.hover i {
  opacity: 0.2;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
  opacity: 1;
}
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  height: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
  width: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after,
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  opacity: 0.1;
}



/* footer */

#main_footer{
    font-size: small;
    position: absolute;
    left: 0; bottom: 0;
    color: #999;
    width: 100%;
    text-align: center;
}
/*
#main_footer > .sns{
    margin-top: 20px;
    margin-bottom: 20px;
}
#main_footer > .sns > a{
    display: inline-block;
    margin-right: 30px;
    color: #2f2f2f;
    font-size: 17px;
    text-align: center;
}
#main_footer > .sns > a:last-child{
    margin-right: 0;
}
*/
#main_footer > #to_top{
    background: #ffede9;
    margin: 20px;
    
}
#main_footer > #to_top > a{
    display: inline-block;
}
/*
#main_footer #to_top a img{
    width: 50px; height: 50px;
    display: block;
    padding-bottom: 3px;
}
*/
#main_footer #to_top a i{
    width: 50px; height: 53px;
    display: none;
}
#main_footer #to_top a i{
    display: block;
}
/*
#main_footer #to_top a:hover img{
    display: none;
}
*/
#to_top .fa-arrow-up{
    font-size: 30px;
    color: #fd8f8f;
}
#main_footer > .copy{
    background: #3c3c3c;
    padding: 40px 0;
    color: #fff;
}



/* 레이아웃시스템 */
[class^=col-]{
    width: 100%;
}

/*모바일*/
@media (max-width: 767px){
   #main_header{
      height: 100%;
      position: relative;
   }   
   #main_gnb{ 
      margin-top: 20px;
   }
   #main_gnb li > a{ 
      padding: 0 10px;
   }
   #visual{
      height: calc(100vh - 120px);
   }   
}


/*중간크기 이상(컬럼이 형성)*/
@media (min-width:768px){
/*    레이아웃 시스템*/
    .col-1{
        width: 100%;
        
    }
    .col-2{
        width: 50%;
        float: left;
    }
    .col-3{
        width: 33.33%;
        float: left;
    }
    .col-4{
        width: 25%;
        float: left;
    }
    #about .col-3:first-child{
        padding-right: 40px;
    }
    #about .col-3:last-child{
        padding-left: 40px;
    }
    #about .col:nth-child(2){
        padding-left: 20px;
        padding-right: 20px;
    }
    #works .col-3{
        width: 32%;
        margin-right: 2%;
    }
    #works .col-3:nth-child(3n){
        margin-right: 0;
    }
    #works li img{
        max-width: 100%;
        height: 180px;
    }
    
    
}
